* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}
#menu {
    float: left;
    background-color: #ffd5bd;
    width: 300px;
    height: 600px;
    border: 1px solid brown;
}

#boasvindas {
    background-color: #ffedd1;
    float: left;
    border: 1px solid brown;
    width: 600px;
    height: 600px;
}

#divprincipal{
    background-color: #ffedd1;
    width: 900px;
    height: 600px;
    border: 1px solid brown;
}