body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: pink;
    padding: 5px;
    border: 1px slategrey;
}

#cadaInscrito {
    width: 40vw;
    min-width: 150px;
    border: 1px dotted pink;
    padding: 10px;
    margin: 5px;
}